body{
    background-color: #161616;
    color: #ddd;
    padding: 50px;
}
h1{
    color: #eef;
    text-align: center;
}
.option{
    color: #000;
}
input{
    cursor: pointer;
}
select{
    cursor: pointer;
}